:root {
  --color-black: #111;
  --color-black-opac: rgba(0, 0, 0, 0.2);
  --color-black-light: #aaa;
  --color-white: #fff;
  --color-white-opac: rgba(255, 255, 255, 0.8); }

html {
  font-size: 56.25%; }
  @media (max-width: 81.25em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-image: url(/background_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.center-container {
  width: 90%;
  margin: 0 auto; }

.margin-bottom-big {
  margin-bottom: 3.4rem; }

.margin-bottom-med {
  margin-bottom: 2.4rem; }

.margin-bottom-sml {
  margin-bottom: 1.8rem; }

.form {
  padding: 0 4.8rem 4.8rem;
  width: 20%;
  background-color: var(--color-white-opac);
  border-radius: 2.4rem; }
  .form-bold-text {
    font-size: 6.4rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.2rem; }
  .form-box {
    display: flex;
    align-items: center;
    border-bottom: 0.2px solid var(--color-black);
    position: relative; }
  .form-icon {
    font-size: 4.2rem; }
    .form-icon-sml {
      font-size: 2.4rem; }
  .form-input {
    border: none;
    background: transparent;
    flex: 1;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 0 1.2rem; }
    .form-input:focus {
      outline: none;
      background: none; }
    .form-input::placeholder {
      color: var(--color-black-light);
      font-weight: 300; }
  .form-label-text {
    position: absolute;
    top: 4.6rem;
    font-weight: 300;
    margin-left: 5.5rem;
    margin-top: -0.005rem;
    line-height: 1.5;
    font-size: 1.2rem;
    opacity: 0;
    visibility: hidden; }
  .form-input:not(:placeholder-shown) + .form-label-text {
    opacity: 1;
    visibility: visible;
    animation: slide-down 0.5s; }
  .form-warning {
    display: none;
    transition: 0.3s all;
    color: #d9480f; }
  .form-input:focus:invalid ~ .form-warning {
    display: block; }
  .form-btn {
    border: none;
    width: 100%;
    font-size: 1.8rem;
    padding: 1.4rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 2.4rem;
    display: block;
    margin-top: 3.8rem; }
    .form-btn:hover {
      box-shadow: 0 1rem 2rem var(--color-black-opac);
      cursor: pointer; }
  .form-additional {
    display: flex;
    position: relative;
    justify-content: space-between; }
    .form-additional-text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%); }
    .form-additional-line {
      display: block;
      border-top: 0.1rem solid var(--color-black-light);
      width: 45%; }
    .form-additional-login {
      display: flex;
      justify-content: center;
      gap: 1.4rem; }
      .form-additional-login-links:link, .form-additional-login-links:visited {
        text-decoration: none;
        color: var(--color-black); }
  @media (max-width: 81.25em) {
    .form {
      width: 25%; }
      .form-bold-text {
        font-size: 4rem; } }
  @media (max-width: 50em) {
    .form {
      width: 40%; } }
  @media (max-width: 31.25em) {
    .form {
      width: 80%; } }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    font-size: 1.2rem;
    transform: translateY(0); } }
